<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}My Flask App{% endblock %}</title>
    {% block head %}
    <!-- Additional head content can be added here -->
    {% endblock %}
</head>
<body>
    <header>
       
    </header>
    <main>
        {% block content %}
        <!-- Main content will be injected here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Flask App</p>
    </footer>
</body>
</html>